<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
        
</head>
<body>

<div align="center"><h1 id="h1">Welcome To Reporting Api</h1>
   <h2><a th:href="@{/login}">Merchant Login </a></h2></div>
	 
    







    

</body>
</html>